/* 기본 폰트 설정 */
* {
  font-family: 'Noto Sans KR', sans-serif;
}
/* ----------------------------------------- 기본 레이아웃 설정 */
body {
  background-color: rgb(198, 229, 241);
  padding: 20px 200px;
}
main {
  display: flex;
}
aside {
  flex: 1;
}
.aside-text{
  font-size: 1.2rem;
  color: rgb(43, 43, 55);
}
.recipeCard {
  background-color: white;
  background: url('./background12.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border: 1px solid #c4c4c4;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}
.div-line {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  height: 5px;
  width: 40%;
  margin: 0 auto;
}
/* ----------------------------------------- 메인 헤더 및 로고 */
.main-text {
  /* background-color: rgba(255, 255, 255, 0.85); */
}
.main-text h1 {
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
  margin: 0;
  color: white;
}
.main-text h4 {
  margin-top: 15px;
  text-align: center;
  font-size: 1.1rem;
  color: white;
}
/* ----------------------------------------- 요리 목록 컨테이너 */
.content-container {
  flex: 4;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  background-color: rgb(255, 255, 250);
}
.foodSeperate {
  color: rgb(43, 43, 55);
  font-size: 1.4rem;
}
/* ----------------------------------------- 요리 입력 컨테이너 */
#recipe-input-form {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  display: none;
}
/* ----------------------------------------- 요리 출력 컨테이너*/
#recipe-container {
  width: 62%;
  padding: 30px;
  display: none;
}
.round-title {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 30px;
  background-color: rgb(198, 229, 241);
  margin-bottom: 0px;
}
#imgSrc {
  margin-top: 40px;
  width: 500px;
  object-fit: contain;
  border: 1px solid rgb(43, 43, 55);
}
/* ----------------------------------------- 레시피 추가 버튼*/
#add-recipe {
  margin-top: 15px;
  width: 193px;
  background-color: rgb(65, 65, 65,.9);
  border: 1px solid rgb(65, 65, 65,.9);
  border-radius: 4px;
  color: white;
}
#add-recipe:hover {
  margin-top: 15px;
  width: 193px;
  background-color: rgb(0, 0, 0,.9);
  border: 1px solid rgb(0, 0, 0,.9);
  color: white;
}
/* ----------------------------------------- 레시피 삭제 버튼*/
#del-recipe {
  width: 60px;
  background-color: rgb(65, 65, 65,.9);
  border: 1px solid rgb(65, 65, 65,.9);
  border-radius: 4px;
  color: white;
}
#del-recipe:hover {
  background-color: rgb(0, 0, 0,.9);
  border: 1px solid rgb(0, 0, 0,.9);
  color: white;
}
/* ----------------------------------------- 레시피 추가 form 출력 컨테이너 */
.input-container {
  width: 100%;
  text-align: end;
}
/* ----------------------------------------- 레시피 추가 form 출력 버튼 */
.input-container button {
  background-color: rgb(65, 65, 65,.9);
  border: 1px solid rgb(65, 65, 65,.9);
  border-radius: 4px;
  color: white;
}
.input-container button:hover {
  background-color: rgb(0, 0, 0,.9);
  border: 1px solid rgb(0, 0, 0,.9);
  color: white;
}
/* ----------------------------------------- 레시피 목록 컨테이너 */
.recipe-list-container {
  text-align: center;
  margin-top: 24px;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  background-color: rgb(255, 255, 250);
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
/* ----------------------------------------- 레시피 목록 */
.list {
  padding-left: 50px;
}
/* ----------------------------------------- 레시피 */
.list-item {
  padding-left: 20px;
  text-align: left;
  font-size: 1.1rem;
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(43, 43, 55);
}
.list-item:hover {
  color: #1366b4;
}
/* ----------------------------------------- 요리 타입 입력 셀렉터 */
#type {
  width: 193px;
}
/* ----------------------------------------- 레시피 참고 사이트 목록 */
.recipeSite {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin: 10px 0;
  color: rgb(43, 43, 55);
}
.recipeSite:hover {
  color: #1366b4;
}

@media (max-width: 768px)
{ 
  body {
    padding: 20px 20px;
  }
  main {
    display: block;
  }
  
  /* ----------------------------------------- 요리 방법 출력 컨테이너*/
  #recipe-container {
    width: 80%;
    display: none;
  }
  /* ----------------------------------------- 요리 목록 컨테이너 */
  .container {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-left: 20px;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    background-color: rgba(255, 255, 255, 0.85);
  }
  /* ----------------------------------------- 레시피 목록 */
  .list {
    padding-left: 80px;
  }

  /* ----------------------------------------- 레시피 */
  .list-item {
    font-size: 1rem;
  }

  /* ----------------------------------------- 레시피 추가 form 출력 버튼 */
  .input-container button {
    background-color: #1890ff;
    border-radius: 4px;
    border: 1px solid #41a3fe;
    padding: 5px 10px;
    color: white;
  }
  /* ----------------------------------------- 요리 목록 컨테이너 */
  .content-container {
    margin-left: 0px;
    margin-right: 0px;
  }
}